<div class="container">
    <div class="row">
        <div class="col-md-12" style="text-align: center;">
            <h1>Operator Dashboard - Rack Overview</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <app-rack-overview
                    [data]='{
      "id": "991f461b-1047-441a-9176-458e8c031818",
      "rackNumber": "1",
      "location": "101 College St, Toronto, ON M5G 1L7",
      "docked": docked,
      "tampering": tampering,
      "locked": locked
    }'></app-rack-overview>
        </div>
        <div class="col-lg-4">
            <app-rack-overview
                    [data]='{
      "id": "991f461b-1047-441a-9176-458e8c031818",
      "rackNumber": "2",
      "location": "101 College St, Toronto, ON M5G 1L7",
      "isConnnected": false,
      "docked": false,
      "tampering": false,
      "locked": false
    }'></app-rack-overview>
        </div>
        <div class="col-lg-4">
            <app-rack-overview
                    [data]='{
      "id": "991f461b-1047-441a-9176-458e8c031818",
      "rackNumber": "3",
      "location": "101 College St, Toronto, ON M5G 1L7",
      "isConnnected": false,
      "docked": false,
      "tampering": false,
      "locked": false
    }'></app-rack-overview>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
           <app-rack-overview
                   [data]='{
      "id": "991f461b-1047-441a-9176-458e8c031818",
      "rackNumber": "4",
      "location": "101 College St, Toronto, ON M5G 1L7",
      "isConnnected": false,
      "docked": false,
      "tampering": false,
      "locked": false
    }'></app-rack-overview>
        </div>
        <div class="col-lg-4">
            <app-rack-overview
                    [data]='{
      "id": "991f461b-1047-441a-9176-458e8c031818",
      "rackNumber": "5",
      "location": "101 College St, Toronto, ON M5G 1L7",
      "isConnnected": false,
      "docked": false,
      "tampering": false,
      "locked": false
    }'></app-rack-overview>
        </div>
        <div class="col-lg-4"></div>

    </div>
</div>
