<div class="rack-overview-outline" xmlns="http://www.w3.org/1999/html">
  <h2>Rack {{data['rackNumber']}} Status </h2> <div class="status-circle" [ngClass]="'green'"></div>
  <hr/>
  <p class="id"><span class="bold">ID</span>: <span class="id-value">{{data['id']}}</span></p>

  <p><span class="bold location">Location</span><br/><span>{{data['location']}}</span></p>

  <br/><div class="center"><button type="button" class="btn btn-success btn-lg btn3d"><span class="glyphicon glyphicon-ok"></span>Open Lock</button></div>
  <h5>Status Report</h5>
  <hr/>
  <!--<p><span class="question">Rack Reserved: </span> <span class="answer">Yes</span></p>-->
  <p><span class="question">Bike Docked: </span> <span class="answer">{{data['docked']}}</span></p>
  <p><span class="question">Bike Locked: </span> <span class="answer"></span></p>
  <span [hidden]="!data['tampering']" style="text-align: center;"><span class="red" style="display: block;">Tamper Detected!</span></span>
</div>